.footer {
    background-color: rgb(20, 20, 78);
    height: 345px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 100px 100px 100px;
    justify-items: center;
}

.footer-img {
    height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -150px;
}

.footer-container {
    height: 100px;
    grid-column: 4/6;
    grid-row: 2/3;
}

.p-ophavsret {
    height: 400px;
    grid-column: 2/6;
    grid-row: 3/4;
    color: white;
    height: 40px;
    font-size: 10px;
}

.white-tekst {
    color: white;
}